html {
  width: 100vw;
  height:  100vh;
  background-color: #282c34;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: white;
}

.App-header {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
